<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>

            <li>
                <a routerLink="/forms" [routerLinkActive]="['active']">forms</a>
            </li>

            <li>
                <a routerLink="/reactive" [routerLinkActive]="['active']">Forms Reativos</a>
            </li>

            <li>
                <a routerLink="/dashboard" [routerLinkActive]="['active']">dashboard</a>
            </li>


            <li>
                <a routerLink="/404" [routerLinkActive]="['active']">Erros</a>
            </li>
        </ul>
    </nav>
</header>