<h2>Interpolation</h2>
<p>{{ nome }} tem {{ idade }} anos!</p>
<p>{{ nome }} tem mais de 19 anos?</p>
<p>{{ idade > 19}}</p>

<p>Quanto é {{ idade }} + 1?</p>
<p>{{ idade + 1}}</p>

<hr>

<h2>Property Binding</h2> 
<button [disabled]="checkedDisable">Botão</button>

<img [src]="imgSrc" [title]="imgTitle">

<hr>

<h2>Event Binding</h2>

<button (click)="alertaInfo($event)">Evento</button>

<div (mousemove)="mouseMoveTeste($event)" style="background: red; width: 300px; height: 300px;"></div>

{{position.x}} - {{position.y}}

<hr>

<h2>Two-way binding</h2>

<input [(ngModel)]="nome">
{{nome}}